.icons{
    display: grid;
    grid-column: 12 / span 1;
    

}
.iconsunny{
    width:50%;
    height: 100%;
    background-image: url("/src/assets/sunny.svg");
    background-size: cover;
    margin-left: 25%;
    
}
.iconmostlycloudy{
    width:50%;
    height: 100%;
    background-image: url("/src/assets/mostlycloudy.svg");
    background-size: cover;
    margin-left: 25%;
    
}
.iconclear{
    width:50%;
    height: 100%;
    background-image: url("/src/assets/clear.svg");
    background-size: cover;
    margin-left: 25%;
    
}
.iconcloudy{
    width:50%;
    height: 100%;
    background-image: url("/src/assets/cloudy.svg");
    background-size: cover;
    margin-left: 25%;
    
}

.iconmostlycloudywsun{
    width:50%;
    height: 100%;
    background-image: url("/src/assets/cloudywithsun.svg");
    background-size: cover;
    margin-left: 25%;
    
}.iconcold{
    width:50%;
    height: 100%;
    background-image: url("/src/assets/cold.svg");
    background-size: cover;
    margin-left: 25%;
    
}.iconhot{
    width:50%;
    height: 100%;
    background-image: url("/src/assets/hot.svg");
    background-size: cover;
    margin-left: 25%;
    
}.iconice{
    width:50%;
    height: 100%;
    background-image: url("/src/assets/ice.svg");
    background-size: cover;
    margin-left: 25%;
    
}.iconmostlyclear{
    width:50%;
    height: 100%;
    background-image: url("/src/assets/mostlyclear.svg");
    background-size: cover;
    margin-left: 25%;
    
}.iconmostlycloudywsnow{
    width:50%;
    height: 100%;
    background-image: url("/src/assets/mostlycloudywsnow.svg");
    background-size: cover;
    margin-left: 25%;
    
}

.iconmostlycloudynight{
    width:50%;
    height: 100%;
    background-image: url("/src/assets/partlycloudynight.svg");
    background-size: cover;
    margin-left: 25%;
    
}
.iconrain{
    width:50%;
    height: 100%;
    background-image: url("/src/assets/rain.svg");
    background-size: cover;
    margin-left: 25%;
    
}
.iconshowers{
    width:50%;
    height: 100%;
    background-image: url("/src/assets/showers.svg");
    background-size: cover;
    margin-left: 25%;
    
}
.iconsnowy{
    width:50%;
    height: 100%;
    background-image: url("/src/assets/snowy.svg");
    background-size: cover;
    margin-left: 25%;
    
}
.iconstorm{
    width:50%;
    height: 100%;
    background-image: url("/src/assets/storm.svg");
    background-size: cover;
    margin-left: 25%;
    
}
.iconstormnight{
    width:50%;
    height: 100%;
    background-image: url("/src/assets/stormnight.svg");
    background-size: cover;
    margin-left: 25%;
    
}
.iconstormwithsun{
    width:50%;
    height: 100%;
    background-image: url("/src/assets/stormwithsun.svg");
    background-size: cover;
    margin-left: 25%;
    
}

.iconcloudsandsun{
    width:50%;
    height: 100%;
    background-image: url("/src/assets/clouds-and-sun.svg");
    background-size: cover;
    margin-left: 25%;
    
}
.iconmostlycloudywrainnight{
    width:50%;
    height: 100%;
    background-image: url("/src/assets/mostlycloudywrainnight.svg");
    background-size: cover;
    margin-left: 25%;
    
}
.weathergridicon{
    
    width: auto;
    display: grid;

     grid-template-rows: repeat(12,3.85vw);
}


