#googlechart-control-0-1 {
     display: none;
}

#googlechart-control-0-2 {
     display: none;
}

.video {
     width: 100%;
     aspect-ratio: 16/9;
}
.ec {
     height: 30vh;
     
}
.paddinglinks{
padding-left: 20%;

}
.contentfet{

     height:auto;
}
.itsme {
     margin-top: 5vw;
     padding-bottom: 5vw;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
      
}
.textfeld{
     grid-column: 2 / span 1;  
}
.infofeld{
     grid-column: 1 / span 1;  
}
.buttonfeld{
     grid-column: 3 / span 1;  
}
.image {
     display: grid;
     background-image: black;  /*url("http://phillovescoding.ddns.net:8081")*/
     grid-column: 2 / span 10;
     aspect-ratio: 16/9;
     background-size: 100%;
     grid-template-columns: repeat(7, 1fr);
     
}

.image .content {
     
     
     color: white;
}

.image .content h3 {
     padding: 0;
     margin: 0;
     font-size: 10vw;
     font-family: fave-script-pro, sans-serif;

     font-weight: 400;

     font-style: normal;
}
.wrapstream{
     display: grid;
     grid-template-columns: repeat(12, 1fr);
     grid-template-rows:  1fr;
     width: 100%;
}
.auth{
     max-height: 0px;
     overflow: hidden;
     transition: 1s ease max-height;
     display:none;
     width: 0px;
}
.background{

     background-color: #677b63!important;
}