.cali{
    grid-template-columns: 2fr 1fr 1fr;
    display: grid;
    grid-column: 2/ span 1;
    width: 100%;
}
.gridpic{
    grid-template-columns: 2fr 1fr 1fr;
    display: grid;
    grid-column: 1/ span 3;
    width: 100%;
}
.headline3{
font-size: xx-large;
font-family: amatic-sc, sans-serif;

     font-weight: 400;

     font-style: normal;
}
.middle{
    display: grid;
    grid-template-columns: repeat(6, 1fr);  
}

.paddinglinks{
    padding-left: 20%;
    
    }
    .paddinglinks2{
        padding-left: 13%;
        
        }
.headline4{
    font-size: x-large;
    font-family: amatic-sc, sans-serif;

     font-weight: 400;

     font-style: normal;
    
}
.inputpic{
width: 45%;

}
.btnn {
    width: 98%;
    height: 5vw;
    font-size: 4vw;
}
.paddingmin{
    margin-left: 20%;
}
.paddingminutes{
    margin-left: 30%;
}
.infotext2{
    grid-column: 1/ span 1;

}
.one{
    grid-column: 1/ span 1;
}
.two{
    grid-column: 2/ span 1;
}
.button3{
    grid-column: 2/ span 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
}
.button2{
    grid-column: 3/ span 1; 
}
.paddingtop{
    padding-top: 100px;
}
.bigger{
    font-size: 4vw;
}
.smallgridc{
    height: 40vh;
    width: 100%;
    display: grid;
     grid-template-columns: repeat(5, 6.66vw);
     grid-template-rows: repeat(10,1fr);
}
.firstcol{grid-column: 1 /span 2;}
.secondcol{
    grid-column: 3/ span 1;
    text-align: center;
}
.thirdcol{grid-column: 4/ span 1;}
.firstrow{grid-row: 2/ span 1;}
.secondrow{grid-row: 3/ span 1;}
.thirdrow{grid-row: 4/ span 1;}
.forthrow{grid-row: 5/ span 1;}
.fiftrow{grid-row: 6 /span 1;}
.sixthrow{grid-row: 7 /span 1;}
.seventrow{grid-row: 8 /span 1;}
.eightrow{grid-row: 9 /span 1;}
.ninerow{grid-row: 10 /span 1;}
.tenrow{grid-row: 11 /span 1;}
.elevenrow{grid-row: 12 /span 1;}
.twelferow{grid-row: 13 /span 1;}
.senden{
    grid-column: 4/ span 1;
}
.gießen{
    grid-column: 1/ span 1;
}
.beautyp{

    font-size: 2.5vw;
    font-family: amatic-sc, sans-serif;

     font-weight: 400;

     font-style: normal;  
}