.invisible {
     display: none;
}
.black {
     color: black;
     width: 100%;
}
.dropdownparent {
     max-height: 0px;
     overflow: hidden;
     transition: 1s ease max-height;

     width: 10vw;
}

.expand {
     max-height: 100%;
}

.dropdownorder {
     align-items: center;
}
.btn-größe {
     width: 100%;
     margin-top: 20px;
     background-color: rgb(239, 239, 239);
     border-color: rgb(133, 133, 133);
     border-radius: 3px;
     border-width: 1px;
     text-align: center;
     font-size: 2vw;
     padding-top: 0.5vh;
     padding-bottom: 0.5vh;
     border-style: outset;
     border-image: initial;
     font-family: amatic-sc, sans-serif;

     font-weight: 400;

     font-style: normal;
}
.btn-größe:hover {
     background-color: #aaa9a9;
     color: #ffffff;
}
.ordersize {
     margin-top: 20px;
     font-size: 2vw;
}
.dropdownelement:hover {
     background-color: #b7b4b2;
     color: #ffffff;
}

.dropdownelement {
     text-decoration-line: none;
     width: 100%;
     color: #b7b4b2;
     background-color: #ffffff;
     font-size: x-large;
     cursor: grabbing;
}
.dropdown-menu {
     position: absolute;
     background-color: #ffffff !important;

     width: 27%;
     text-align: left !important;
     font-family: amatic-sc, sans-serif;

     font-weight: 400;

     font-style: normal;
}
@media (max-width: 992px) {
     .ordersize {
          font-size: 3vw;
     }
     .btn-größe {
          font-size: 3vw;
          padding-top: 1.5vh;
          padding-bottom: 1.5vh;
     }
}
