#googlechart-control-0-1 {
     display: none;
}

#googlechart-control-0-2 {
     display: none;
}
#googlechart-control-0-3 {
     display: none;
}
#googlechart-control-0-4 {
     display: none;
}
#googlechart-control-0-5 {
     display: none;
}
.options {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
}
.background{

     background-color: #677b63!important;
}
.video {
     width: 100%;
     aspect-ratio: 16/9;
}
.ec {
     height: 30vh;
     
}
.smallbtn {
     width: 20vw;
}
.optgrid{
     margin-top: 100px;
     display: grid;
     grid-template-columns: repeat(5, 1fr);

}
.optionsbutton{

    grid-column: 2 /span 1;
     text-align: center;
}
.btnnnn {
     width: 20%;
     height: 10vw;
     font-size: 3vw;
     font-family: amatic-sc, sans-serif;

     font-weight: 400;

     font-style: bold;
 }
 .btnn {
     width: 20%;
     height: 10vw;
     font-size: 3vw;
     font-family: amatic-sc, sans-serif;

     font-weight: 400;

     font-style: bold;
 }
.dropdownitemair {
    
     max-height: 0px;
     overflow: hidden;
     transition: 2s ease max-height;
}

.expanditemair {
     max-height: 500px;
     
}
.expanditemair2 {
     max-height: 800vw;
     
}
.btnn {
     width: 98%;
     height: 5vw;
     font-size: 4vw;
 }
.centercontent{
     display: flex;
     justify-content:space-evenly;

}

.image {
     display: grid;
     background-image: black;  /*url("http://phillovescoding.ddns.net:8081")*/
     grid-column: 2 / span 10;
     aspect-ratio: 16/9;
     background-size: 100%;
     grid-template-columns: repeat(7, 1fr);
     
}

.image .content {
     
     
     color: white;
}

.image .content h3 {
     padding: 0;
     margin: 0;
     font-size: 10vw;
     font-family: fave-script-pro, sans-serif;

     font-weight: 400;

     font-style: normal;
}
.wrapstream{
     display: grid;
     grid-template-columns: repeat(12, 1fr);
     grid-template-rows:  1fr;
     width: 100%;
}
.auth{
     max-height: 0px;
     overflow: hidden;
     transition: 1s ease max-height;
     display:none;
     width: 0px;
}
.background{

     background-color: #677b63!important;
}